@using BakuLog.Models
@model IEnumerable<BakuLog.Models.Post>

@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

<hr />
@using (Ajax.BeginForm("AddPost", "Posts", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "PostList"}))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => new Post().Content, "Nouveau Post :")
        @Html.TextAreaFor(model => new Post().Content, new { @class = "form-control", id = "PostField" })
        @Html.ValidationMessageFor(model => new Post().Content, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Publier" id="PostButton" class="btn btn-success" />
    </div>
}

<hr />
<div id="PostList">
    @Html.Partial("_Post")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/app")
}

